
@{
    ViewBag.Title = "Current Due Date";
}


@{
    var hours = (double)ViewData["hours"];
    var dueDate = ((DateTime)ViewData["dueDate"]).GetDateTimeFormats('D')[1];

    
}
<h3>Hours in queue: @hours</h3>

<h3>Current Due Date: @dueDate</h3>